body {
    padding: 10px;
    margin: 0;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

#app-title {
    margin: 5rem;
}

#nav-container {
    display: flex;
    font-size: 1.15rem;
    box-sizing: border-box;
    flex-wrap: wrap;
}

#nav-left-container {
    flex: 1 1 80%;
    display: flex;
    justify-content: flex-start;
}

#nav-right-container {
    flex: 1 1 20%;
    display: flex;
    justify-content: flex-end;
}

.nav-div {
    margin: 0 1rem;
}

.nav-div:first-child {
    margin: 0 1rem 0 0;
}

.navbar-link {
    color: black;
    position: relative;
}

.navbar-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transform: scaleX(0);
    background-color: black;
    transition: transform 0.25s ease-out;
}

.navbar-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar-link:hover {
    color: black;
    text-decoration: none;
}

h2 {
    text-decoration: underline;
}

a {
    color: black;
}

a:hover {
    color: #555;
    text-decoration: none;
}

.button-container .btn,
.button-container form {
    display: inline-block;
}

.button-container>form {
    margin: 0 0.3m 0 0;
}

.listing-title {
    text-decoration: none;
}

.listing-closed {
    text-decoration: line-through;
    color: #777;
}

.listing-preview-container {
    display: flex;
    box-sizing: border-box;
    max-height: min-content;
}

.preview-left-container {
    flex: 1 1 30%;
    display: flex;
    justify-content: center;
}

.preview-right-container {
    flex: 1 1 70%;
}

.listing-preview-image {
    object-fit: cover;
    min-height: 100%;
}

.listing-preview-container>div:not(.preview-right-container) {
    position: relative;
}

.listing-preview-container>div:not(.preview-right-container) img {
    position: absolute;
    max-height: 100%;
}

.your-bid {
    margin-left: 30%;
    font-size: 1.25rem;
}

.ml-30p {
    margin-left: 30%;
}

#listing-price {
    display: inline-block;
}

#listing-description,
.comment-input {
    resize: none;
    overflow: hidden;
    transition: height 0.2s ease-out;
}

.comment {
    white-space: pre-line;
}

.description-multiline {
    white-space: pre-line;
}

#login-container,
#register-container,
#add-listing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-input-form,
#register-input-form {
    width: 20%;
}

#add-listing-form {
    width: 40%;
}

#price-input-div,
#category-input-div {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

#image-container {
    aspect-ratio: 6/1;
}

#watchlist-indicator {
    position: relative;
    display: inline;
    top: 0;
    left: 0;
    border-radius: 0.3rem;
    padding: 0.1rem 0.2rem 0.1rem 0.2rem;
    background-color: #888;
}

#watchlist-number {
    border-radius: 0.2rem;
    background-color: #888;
}

#price {
    font-size: 1.25rem;
}