{% if listing %}
<div class="listing-preview-container">
    <div class="preview-left-container">
        {% if listing.image %}
        <img src={{listing.image}} class="listing-preview-image" alt="Picture of listing">
        {% else %}
        <div>No image available for this listing</div>
        {% endif %}
    </div>
    <div class="preview-right-container">
        <div>
            <a href="{% url 'listing_view' listing.id %}">
                <h3 class="{% if listing.closed %} closed-listing {% endif %}">{{listing.title}}</h3>
            </a>
            <div>Price: $
                {% if listing.highest_bid %}
                {{ listing.highest_bid.value }}
                {% else %}
                {{listing.price}}
                {% endif %}
            </div>
            {% if listing.closed and listing.highest_bid %}
            <div>Status: Closed</div>
            <div> Winner: {{ listing.highest_bid.user.username }}</div>
            {% elif listing.closed %}
            <div>Status: Closed</div>
            <div> Winner: None</div>
            {% endif %}
            <div>Posted by: {{listing.user}}</div>
            {% if listing.category %}
            Category:
            <a href="{% url 'categories' listing.category.category %}">
                {{listing.category.category}}</a>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}