{% extends 'auctions/layout.html' %}

{% block title %}
{{listing.title}}
{% endblock %}




{% block body %}

<div class="listing">
    <h2 class="listing-title {% if listing.closed %} listing-closed {% endif %}">{{listing.title}}</h2>
    <div>
        {% if listing.closed %}
        <div>Status: Closed</div>
        {% if listing.highest_bid.user == request.user %}
        <h3>You've won the listing</h3>
        {% endif %}
        {% endif %}
        <div class="button-container mb-3">
            {% if listing not in request.user.watchlist.all and not listing.closed %}
            <form action="{% url 'add-watchlist' listing.id %}" method="POST">
                <button type="submit" class="btn btn-outline-dark">Add to Watchlist</button>
                {% csrf_token %}
            </form>
            {% elif listing in request.user.watchlist.all %}
            <form action="{% url 'remove-watchlist' listing.id %}" method="POST">
                <button class="btn btn-outline-dark" type="submit">Remove from watchlist</button>
                {% csrf_token %}
            </form>
            {% endif %}
            {% if listing.user == request.user and not listing.closed%}
            <form action="{% url 'close-listing' listing.id %}" method="POST">
                <button class="btn btn-outline-dark" type="submit">Close listing</button>
                {% csrf_token %}
            </form>
            <form action="{% url 'delete-listing' listing.id %}" method="POST">
                <button class="btn btn-outline-dark" type="submit">Delete listing</button>
                {% csrf_token %}
            </form>
            {% endif %}
        </div>
    </div>
    <div id="image-container" style="background: url({{ listing.image }});
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;">
        {% if listing in request.user.watchlist.all %}
        <div id="watchlist-indicator">
            watchlist
        </div>
        {% endif %}
    </div>
    {% if listing.description %}
    <div id="description" class="description-multiline">
        {{listing.description}}
    </div>
    {% endif %}
    <hr>
    <div id="price">
        Price: $
        {% if listing.highest_bid %}
        {{ listing.highest_bid.value }} ({{ listing.bids.all.count }} bids made)
        {% else %}
        {{ listing.price }}
        {% endif %}
    </div>
    <div>
        Category:
        {% if listing.category %}
        {{listing.category.category }}
        {% else %}
        None
        {% endif %}
    </div>
    {% if listing.closed and listing.highest_bid %}
    <div>Winner: {{listing.highest_bid.user.username}}</div>
    {% elif listing.highest_bid %}
    <div id="highest_bidder">
        Highest bid by:
        {% if listing.highest_bid.user == request.user %}
        You
        {% else %}
        {{listing.highest_bid.user.username}}
        {% endif %}
    </div>
    {% else %}
    <div id="highest_bid">
        No Bids
    </div>
    {% endif %}
    {% if listing.user != request.user and not listing.closed %}
    <form action="{% url 'bid' listing.id %}" method="post">
        <input class="form-control mb-2" type="number" name="bid" min="{{ listing.highest_bid.value }}"
            placeholder="Your Bid">
        <button class="btn btn-outline-dark" type="submit">Bid</button>
        {% csrf_token %}
    </form>
    {% endif %}
    <hr>
    <h3>Comments</h3>
    <form action="{% url 'comment' listing.id %}" method="post">
        <textarea name="comment" id="" cols="30" rows="2" class="comment-input form-control mb-2"
            onkeyup="if (this.scrollHeight > this.clientHeight) this.style.height =`${this.scrollHeight}px`;"></textarea>
        <button class="btn btn-outline-dark" type="submit">Comment</button>
        {% csrf_token %}
    </form>
    {% for comment in listing.comments.all %}
    <hr>
    <h4>{{ comment.user.username }}</h4>
    <p class="comment">
        {{ comment.comment }}
    </p>
    <div>
        Made on: {{ comment.date }}
    </div>
    {% endfor %}
</div>
{% endblock %}