{% extends "auctions/layout.html" %}

{% block body %}



<div id="login-container">
    <h2>Login</h2>
    <form class="mb-3" action="{% url 'login' %}" method="post" id="login-input-form">
        {% csrf_token %}
        <input autofocus autocomplete="off" class="form-control mb-2" type="text" name="username"
            placeholder="Username">
        <input class="form-control" type="password" name="password" placeholder="Password">
    </form>
    <input class="btn btn-outline-dark" type="submit" value="Login" form="login-input-form">

    <div>
        Don't have an account? <a href="{% url 'register' %}">Register here.</a>
    </div>
</div>

{% endblock %}