{% extends 'auctions/layout.html' %}

{% block title %}
My bid
{% endblock %}

{% block body %}

<h2>My bids</h2>
{% if listing_bid|length == 0 %}
<p>Oops you haven't made any bids. View <a href="{% url 'index' %}">Active listings</a></p>
{% else %}
{% for listing, bid in listing_bid %}
<div>
    <ul>
        <li>
            <h4>
                <a href="{% url 'won-bids' %}">Won Bids</a>
            </h4>
        </li>
        <li>
            <h4>
                <a href="{% url 'lost-bids' %}">Lost Bids</a>
            </h4>
        </li>
    </ul>
</div>
<hr>
<h2>All Bids</h2>
<div>
    {% include 'auctions/includelisting.html' with data=listing %}
    <div class="your-bid">Your bid: $ {{ bid.value }}</div>
</div>
<hr>
{% endfor %}
{% endif %}

{% endblock %}