{% extends 'auctions/layout.html' %}

{% block title %}
My listing
{% endblock %}

{% block body %}
<h2>My listing</h2>
{% if listings %}
{% for listing in listings %}
<div id="listing" class="mb-3">
    {% include 'auctions/includelisting.html' with data=listing %}
</div>
<div>
    <form action="{% url 'delete-listing' listing.id %}" method="POST">
        <button type="submit" class="btn btn-outline-dark">Delete</button>
        {% csrf_token %}
    </form>
    {% if not listing.closed %}
    <form action="{% url 'close-listing' listing.id %}" method="POST">
        <button class="btn btn-outline-dark" type="submit">Close</button>
        {% csrf_token %}
    </form>
    {% endif %}
</div>
{% endfor %}
{% else %}
<p>
    Oops this page is lonely. <a href="{% url 'add-listing' %}">Create Listing</a> for them to appear in this page.
</p>
{% endif %}

{% endblock %}